.shop-product-title{
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.shop-product-price{
    font-weight: bold;
    margin-bottom: -3px;
}

.shop-product-units {
    margin-top: -3px;
    font-size: 0.85em;
    color: #555;
}

.shop-product-buying {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}


